@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;300&family=Fredericka+the+Great&display=swap");

.my-shop {
  font-family: "Fredericka the Great", cursive;
}

body {
  font-family: "Barlow", sans-serif;
}

.hero,
li {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
}
