spring:
  datasource:
    url: ENC(6eGmsNCg+cWNCcEdJNu+yvtRjkWnLCl2+E+Rn8xEdJZI4X2JFdAdDwdvrBvtZhG3)
    username: ENC(fUMJMfG48GAJPL3t1Nbi7A==)
    password: ENC(LGrpvoQpg8Gu/mhFER0BgKVGiQw9OF/Z)
    driver-class-name: ENC(OAiP+FORCZKNrY68F9SiXN6RTeo3c6j6z021cKc+qUA=)

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

  redis:
    host: localhost
    port: 6379


logging:
  level:
    org.hibernate.sql: debug

jasypt:
  encryptor:
    bean: jasyptStringEncryptor

